!!!
%html
  %head
    %title CorporateCatering
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag "home"   
  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
          = image_tag "logo.png"
        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => '#'} Contact
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-log-in
                Login
    .container
      .row
        .col-sm-12
          = yield 
    / %footer.container-fluid.text-center
    /   .strong
    /     %p
    /       %strong @Copyright Corporate Catering
    =render "shared/fixednavbar"
  
    %footer.container.text-center
      .strong
        %p
          %strong @Copyright Corporate Catering

