!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CorporateCatering
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
          = image_tag "logo.png"
        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Contact
          %ul.nav.navbar-nav.navbar-right
            %li
              - if user_signed_in?
                = link_to destroy_user_session_path, method: :delete do 
                  %span.glyphicon.glyphicon-log-out
                  Logout
              - else
                %a{:href => new_user_session_path}
                  %span.glyphicon.glyphicon-log-in
                  Login         
    - unless flash.empty?
      %script
        - flash.each do |f|
          - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info')
          toastr['#{type}']('#{f[1]}');
    = yield 
    %footer.container-fluid.text-center
      .strong
        %p
          %strong @Copyright Corporate Catering

/ #login.modal.hide.fade.in
/   .modal-header
/     %button.close{"data-dismiss" => "modal"} x
/     %h2 Sign in
/   .modal-body
/     - simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/       = f.input :email, required: false, autofocus: true
/       = f.input :password, required: false
/       = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
/       = f.button :submit, "Log in"
/   .modal-footer
/     = render "users/shared/links"