!!!
%html
  %head
    %title CorporateCatering
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag "home"   
  %body
    =render "shared/fixednavbar"
    = yield 
    %footer.container-fluid.text-center
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      .text-center
        .strong
          %p
            %strong @Copyright Corporate Catering

