!!!
%html
  %head
    %title CorporateCatering
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag "home"   
  %body
    =render "fixednavbar"
    = yield 
    %footer.container.text-center
      .strong
        %p
          %strong @Copyright Corporate Catering
