!!!
%html
  %head
    %title CorporateCatering
    = csrf_meta_tags
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag "home"   
  %body  

    =render "shared/fixednavbar"
    %footer.container.text-center

      - if !user_signed_in?
        %a{:href => new_user_session_path}
          %span.glyphicon.glyphicon-log-in
          Login
      - if user_signed_in?
        = link_to destroy_user_session_path, method: :delete do 
          %span.glyphicon.glyphicon-log-out
          Logout
    = yield 
    %footer.container-fluid.text-center
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      .text-center
        .strong
          %p
            %strong @Copyright Corporate Catering

